<%= search_form_for @q, url: search_drummers_path,
                        html: {
                          data: { turbo_frame: "drummers-list",
                                  controller: "form",
                                  action: "input->form#submit"
                          } } do |f| %>
  <div class="input-group pt-2">
    <%= f.search_field :name_or_artists_name_cont, placeholder: t('defaults.name_or_relative'),
                                                   class: 'form-control' %>
  </div>
  <div class="input-group pt-2">
    <%= f.select :genres_name_eq, Genre.all.pluck(:name),
                                  { include_blank: true,
                                    prompt: t('defaults.message.genres') },
                                  { class: 'form-select' } %>

  <%= link_to t('defaults.clear'), "#{search_drummers_path}#search", class: 'px-1 btn btn-outline-secondary' %>
  </div>
<% end %>

