<!DOCTYPE html>
  <body>
    <p>
      <%= @user.name %>様<br>
      ===============================================
      <br>
      DrummerTracker アカウントが有効になりました。<br>
      あなたのログインアドレスは <%= @user.email %>です。<br>
      <br>
      このリンクからサイトにログインをお願いします： <%= @url %>。<br>
      <br>
      ご登録ありがとうございます。<br>
      ===============================================<br>
      DrummerTracker<br>
      <%= @url %>

      *このメールは自動送信です。返信はできません。<br>
      *このメールに心当たりがない場合は、お手数ですが破棄してください。
    </p>
  </body>
</html>
