<%= link_to post_like_path(post_id: post.id, id: current_user.likes.find_by(post_id: post.id)), class: 'post-like', data: { turbo_method: :delete } do %>
  <i class="fas fa-heart heart_red  me-2"></i>
  <span class="me-3"><%= post.likes.count %></span>
<% end %>
